* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* navbar */
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.5vw;
  }
  .logo {
  }

  .nav {
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 1rem;
    align-items: center;
  }

  .menu {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu > a {
    color: white;
    text-decoration: none;
    padding: 0px 4px;
  }
  .menu > button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    height: 2.2vw;
    color: white;
    padding: 0px 1vw;
    border-radius: 5px;
    margin-top: -5px;
    font-size: 1.5vw;
    font-weight: bold;
  }
  .menu > button:hover {
    background-color: green;
    color: white;
  }

  /* navbar after effects */
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
    font-size: 1.5vw;
    height: 80px;
  }
  .sticky > div > a {
    color: #404145;
  }
  .sticky > div > a:hover {
    color: green;
  }
  .sticky > div:last-child > button {
    color: green;
    border: 1px solid green;
  }
  .sticky > div:last-child > button:hover {
    color: white;
    border: 1px solid green;
  }

  /* searchbar */
  .searchbar,
  .searchbar-crouse {
    display: flex;
    align-items: center;
    width: 28vw;
    margin-left: 10px;
  }
  .searchbar > input,
  .searchbar-crouse > input {
    border: 5px solid red;
    height: 3.5vw;
    border-radius: 5px 0px 0px 5px;
    width: 70%;
    border: 0.5px solid grey;
    font-size: 1.5vw;
  }
  .searchbar > button,
  .searchbar-crouse > button {
    width: 15%;
    height: 3.5vw;
    border-radius: 0px 5px 5px 0px;
    border: 0.5px solid grey;
    background-color: black;
    color: white;
    font-size: 1.5vw;
  }
  /* crouser */
  #crouse {
    width: 100%;
  }
  .content-crouse {
    position: absolute;
    top: 20vw;
    left: 2%;
    width: 52%;
    color: white;
    font-size: 2vw;
  }
  .searchbar-crouse {
    margin-top: 1.5vw;
    width: 100%;
  }
  .searchbar-crouse > button {
    background-color: #1dbf73;
    font-weight: bold;
  }
  .searchbar-crouse > button:hover {
    background-color: green;
  }
  #popular-crouser {
    display: flex;
    gap: 2px;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 2vw;
    width: 80%;
    align-items: center;
  }
  #popular-crouser > button {
    background-color: rgba(255, 255, 255, 0.003);
    border: 0.5px solid white;
    color: white;
    padding: 3px 8px 3px 8px;
    border-radius: 20px;
    font-size: 1.2vw;
  }
  #popular-crouser > button:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(49, 49, 49);
    transition: 500ms;
  }

  /* imageslider */

  #img_slider {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
  }
  #img_slider > img {
    width: 170vw;
    height: 57vw;
  }

  /* trusted partners */
  .trustedPart {
    font-size: 1.5vw;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    color: rgb(167, 162, 162);
    font-weight: bolder;
    background-color: #fafafa;
  }
  .trustedPart > img {
    width: 7vw;
  }
  #fb {
    width: 7vw;
  }
  #PG {
    width: 5vw;
  }

  /* pro_services-slider */
  #slider_proservices {
    position: relative;
    width: 95%;
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 1rem;
  }

  img {
    height: 100%;
    width: 100%;
  }

  #prev-swiper {
    left: -22px;
    background-color: white;
    border-radius: 50%;
    color: grey;
    padding: 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
  }
  #next-swiper {
    right: -22px;
    padding: 0px 20px;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: grey;
  }
  #next-swiper:after {
    font-size: 12px;
  }
  #prev-swiper:after {
    font-size: 16px;
  }
  .image > p {
    position: absolute;
    top: 5%;
    color: white;
    margin-left: 15px;
    font-size: 1.5vw;
  }
  .image > h1 {
    position: absolute;
    top: 12%;
    color: white;
    margin-left: 15px;
    font-size: 2.5vw;
  }
  .image:hover {
    opacity: 0.8;
  }
  #h1_proServices {
    color: #404145;
    width: 95%;
    margin: auto;
    margin-top: 5rem;
    font-size: 3vw;
  }

  /* freelance_talent */
  #freelance_talent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    width: 95%;
    margin: auto;
    margin-top: 100px;
    position: relative;
  }
  #freelance_talent > div:first-child {
    width: 40%;
    font-size: 1.6vw;
    margin-top: 100px;
    margin-bottom: 70px;
    word-spacing: 2px;
  }
  #freelance_talent h1,
  #freelance_talent h5 {
    color: #404145;
    margin-bottom: 15px;
    padding: 5px;
  }
  #freelance_talent p {
    color: #62646a;
    margin-bottom: 15px;
  }
  #freelance_talent > div:nth-child(2) {
    width: 60%;
    margin-top: 100px;
  }
  #freelance {
    background-color: #f1fdf7;
  }

  #product_append > div {
    display: flex;
    height: 70px;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 70px;
    text-decoration: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    height: 20px;
    z-index: 100;
    background-color: white;
    border: 0.1px solid rgb(194, 192, 192);
    height: 2rem;
    padding: 5px 0px;
    overflow: hidden;
  }
  #product_append > div a {
    text-decoration: none;
    color: #6f6f72;
    margin-left: 15px;
    font-size: 1.4vw;
    overflow: hidden;
  }
  #plaVideo {
    cursor: pointer;
  }
  #vidOnScreen {
    position: absolute;
  }
  #del {
    position: absolute;
    z-index: 99;
    cursor: pointer;
  }
  .content-crouse>h1{
    line-height: 1.2;
  }
  @media all and (min-width: 20px) and (max-width: 650px) {
    #freelance_talent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3vw;
      width: 95%;
      margin: auto;
      margin-top: 100px;
      position: relative;
    }
    #freelance_talent > div:first-child {
      margin-top: 0px;
      width: 100%;
      font-size: 3vw;

      margin-bottom: 70px;
      word-spacing: 2px;
    }
    #freelance_talent h1,
    #freelance_talent h5 {
      color: #404145;
      margin-bottom: 15px;
    }
    #freelance_talent p {
      color: #62646a;
      margin-bottom: 15px;
    }
    #freelance_talent > div:nth-child(2) {
      margin-top: 0px;
      width: 100%;
    }
  }