* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Orbitron:wght@400;500;600&family=Oswald:wght@200;500&family=Poppins&display=swap');
body {
    color: #404145;
    background-color: #fff;
    font: 400 16px/24px "Poppins",Helvetica Neue,Helvetica,Arial,sans-serif;
    position: relative;
    width: 100%;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

ul {
    list-style: none;
    list-style-image: none;
}

.categories {
    width: 80%;
    margin: auto;
}

.categories>h2 {
    font-weight: 700;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 130%;
    margin: 0px 0px 40px;
    padding: 0px 0px 24px;
}

.categories-list {
    display: grid;
    /* width: 80%; */
    margin: auto;
    grid-template-columns: repeat(5, 1fr);
    /* gap: 50px; */

}

.categories-list>li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 55px;
}


.categories-list li>a img {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0px 40px  15px 40px;
}

.categories-list>li>.col-15-xs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-list li>a  {
    color: #222325;
    text-align: center;
    position: relative;
}

.categories-list li>a:after {
    content: "";
    position: absolute;
    top: 45px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    padding: 0 0 8px;
    width: 48px;
    border-bottom: 2px solid #c5c6c9;
}

.categories-list li>a:hover:after {
    width: 80px;
    border-bottom: 2px solid #1dbf73;
    transition:  0.2s ease-in-out, padding 0.2s ease-in-out;

}

.FW1syM7{
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 70ms cubic-bezier(.75,0,.25,1);
    -o-transition: 70ms cubic-bezier(.75,0,.25,1);
    transition: 70ms cubic-bezier(.75,0,.25,1);

}

.bg-co-green-700 {
    background-color: #1dbf73;
    color: #fff;
    margin-left: 20px;
}
.bg-co-green-700:hover {
    opacity: 0.8;
}
 .main-categories .categories-list {
   
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.categories-list li>a {
    color: #222325;
    text-align: center;
    position: relative;
    display: inline-block;
}




.max-width-container{
    background-color: #0d084d;
    padding: 96px 32px;
    margin-bottom: 96px;


}


.grid-15{
    display: flex;
    justify-content: space-evenly;
    background-color: #0d084d;
    color: #fff;
   
}

.grid-15>div{
    padding: 0 50px 0 8px;
    width: 40%;
}
.grid-15>div>ul>li{
    display: flex;
    padding: 0 0 12px;
    gap: 12px;
    font-size: 16px;
    width: 90%;
}
.grid-15>div>ul{
    margin-bottom: 48px;
}
.XQskgrQ {
    fill: #74767e;
    background: none;
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}


.check-icon>svg{
    margin-right: 12px;
    height: 24px;
    width: 24px;
}
.font-domaine{
    padding: 0 0 24px;
    width: 80%;
    line-height: 1.2;
    font-size: 32px;
}
.tbody-4 {
    font-size: 18px;
    line-height: 26px;
    padding: 0 0 32px;
    width: 90%;
}
.bussiness-text>ul>li{
    display: flex;
    font-size: 500px;
}
.right{
    display: flex;
}
.bottom{
    display: flex;
    justify-content: space-between;
}


.fib-banner .business-text small {
    display:flex;
    padding-bottom: 32px;
    align-items: center;
    

}
.fib-banner .business-image img {
    width: calc(100% + 140px);
    margin: 0 -140px -32px 0;
}
.fib-banner .business-text small>span{
    background-color: #584AFF;
    padding: 3px 7px 2px;
    width: 41px;
    height: 17px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fib-banner .business-text small .fiverr-business-logo {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}



.slider>div{
    display: flex;
    /* width: 80%; */
    justify-content: center;
    align-items: center;
}
.text-content{
    padding: 0 48px 0 64px;
    max-width: 707px;
    /* width: 60%; */
}
.text-content>h5{
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #74767e;
    padding-bottom: 16px;
    font-size: 20px;
}
.text-content>h5>span>img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
   
  
}

.text-content>h5>span{
    border-left: 1px solid #c5c6c9;
    height: 36px;
    margin-left: 16px;
    display: flex;
}
.font-en{
    padding: 0 0 24px;
    line-height: 1.2;
    font-size: 32px;
    color: #003912;
    font-family: "Domine";
}

.closureBox{
    position:relative;
    width:77%;
    margin: 0 auto;
    height: 290px;
    overflow: hidden;
    
}

.slider{
    height: 100%;
    position: relative;
    transition: transform 350ms ease-in;
    z-index: -1;

   
    
}
.content{
    position: absolute;
    top: 0;
    bottom: 0;
    width : 1222.546875px;

}

.video>img{
    height: 290px
}
.slick-arrow:after {
    content: "";
    display: inline-block;
    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg) no-repeat;
    background-size: 16px 64px;
    width: 16px;
    height: 16px;
    margin-top: 3px;
}

.slick-arrow {
    background-color: #fff;
    position: absolute;
    z-index: 4;
   
    top: 56.2%;
    width: 48px;
    height: 48px;
    transform: translate(-50%);
    margin-top: -24px;
    text-align: center;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    border: 0;
    font-size: 16px;
    line-height: 100%;
    border-radius: 50%;
}
.slick-next{
    right: 155px;
    -webkit-transform:rotate(180deg);
}
.slick-prev{
    left: 180px;
    /* -webkit-transform:rotate(180deg); */
}

.closureBox>.slider>.currentSlide{
    display: flex;
   
}

.mobile-image{
    display: none;
}

.video::after{
    content: "";
    display: inline-block;
    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png) no-repeat;
    background-size: 80px;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 22%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}




/* Logo Maker */
.logo-maker-banner-wrapper{
   
    background-color: #446ee7;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 148px;
    margin-bottom: 68px;
}

.descriptions-wrapper {
    padding: 36px 0 36px 32px;
    padding-left: 76px;
   
}

.logo-maker-banner .desktop-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10%;
    right: -10%;
    overflow: hidden;
}

.bg-co-white{
    cursor: pointer;
    background-color: white;
    color: #446ee7;
    
}
.descriptions-wrapper .description {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
}
.logo-maker-banner .descriptions-wrapper .title {
    margin-bottom: 8px;
    padding-bottom: 0;
    font-size: 34px;
    line-height: 39px;
    color: #fff;
}
.logo-maker-banner .descriptions-wrapper small {
    display: block;
    padding-bottom: 16px;
}



@media all and (min-width : 320px ) and (max-width : 850px) {

    .categories-list {
        display: grid;
       
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
       
    }
    .categories {
        width: 90%;
     
    }

    .bg-co-green-700 {
        /* margin-left: 53px; */
        margin-bottom: 54px;
        width: 80%;
    }
    .grid-15 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 105%;
        
    }
    .tbody-4{
        width: 100%;
        margin-top: 25px;
    }
    .fib-banner .business-image img {
        width: calc(70% + 140px);
      
    }
    .grid-15>div {
        
        width: 90%;
        padding: 0 0px 0 0px;
    }
    .business-text>.font-domaine {
        padding: 0 0 0px;
        width: 100%;
        line-height: 1.2;
        font-size: 32px;
    }
    
    .grid-15>div>ul>li {
        width: 106%;
    }
    .slider>div {
        display: flex;
        /* width: 80%; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .closureBox {
        position: relative;
        margin: 0 auto;
        height: 520px;
        width: 95%;
        margin: auto;
    }
    body>div>.slick-arrow {
        top: 33.3%;
    }
    .video>img {
        height: 217px;
        width: 327px;
    }
    .content{
        position: absolute;
        top: 0;
        bottom: 0;
        width : 600.546875px;
        left: -60x;
    
    }
    .video{
        width: 90%;
    }
    .video>img{
        height: 270px
    }
    .video:after {
        top: 27%;
        left: 34%;
    }
    .text-content{
        padding:5px
    }
    .text-content>h5 {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .text-content>h5>span {
        border-left: none ;
        height: 36px;
        margin-left: 0px;
        justify-content: flex-start;
    }
    .font-en{
        width: 65%;
        font-size: 25px;
    }
    .text-content>h5>span>img {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0px;
        height: 40px;
    }
    .slick-arrow{
        top: 37.3%;
    }
    .slick-prev{
        left: 34px;
    }
    .slick-next{
        right: 10px;
    }

    /* Box 2 */
    .content1>.card{
        width: 480px;
    }
    .inspired>a{
       display: none;
    }
    .card>div>img{
        object-fit: none;
    }
    .desktop-image>.image{
        display: none;
    }
    .mobile-image{
        display: block;
    }
   
    .signupText>div>.text-display {
        width: 80%;
        margin-left: 53px;

     
    }
    .descriptions-wrapper {
        padding: 36px 0 36px 20px;
        padding-left: 26px;
        /* margin-right: 250px; */
    }
    .feverBlock{
        flex-direction: column;
    }
    .descriptions-wrapper>.makelogo{
        font-size: 31px;
        line-height: 39px;
        margin-bottom: 8px;
        color: #fff;
    }
    .logo-maker-banner{
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding: 15px;
            width: 100%;
        
    }
    .logo-maker-banner-wrapper{
        width: 100%;
    }
    .footer>.footerBox>.colBox{
        flex-direction: column;
        width: 100%;

    }
    .footerlistBox>.footerlist{
        display: none;
        animation: dropdown .5s ;
        /* animation: name duration ; */

      
    }
    .footerlistBox>.footerlist.show{
            display: block;
    }
    .footer>.footerBox>.colBox>.col{
        width: 90%;
    }

    .bottom{
        flex-direction: column;
    }
    .left{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .left>.text-body-2{
        margin-bottom: 10px;
    }
    .right{
        flex-direction: column;
    }
    .settings-buttons {
        display: flex;
        gap: 10px;
        margin: auto;
        margin-top: 5px;
    }
    .right>.social{
        justify-content: center;
        padding-right: 0px;
        margin-top: 5px;
    }
    .fiverr-logo-footer{

    }
    .signupText>div>.text-display>span{
        font-size: 35px ;
    }
    .feverGuide>.feverimg{
        width: 100%;
        margin: auto;
    }
    .feverBlock>.feverCard>div>img{
        width: 300px;
        height: 200px;
    }
    .feverBlock>.feverCard{
        margin-bottom: 20px;
    }
    body>.slick-arrow {
        top: 32.8%;
    }
}
@keyframes dropdown {

    0% { 
        opacity: 0;
        transform: translateY(-60px)
      }
    
      100% {
        opacity: 1;
        transform: translateY(0)
      }
}
    
